<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Helper\Output">
        <plugin name="plugin_for_product_sku" type="Perspective\AfterSku\Plugin\Catalog\Model\ProductAttributePlugin" disabled="true"/>
    </type>
</config>
