<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="perspective_display_text">
        <observer name="display_text" instance="Perspective\SampleEvent\Observer\DisplayText" />
    </event>
</config>
