<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Perspective\NewGeoLocation\Api\GeoLocationInterface" type="Perspective\NewGeoLocation\Model\GeoLocation" />
    <preference for="Perspective\NewGeoLocation\Api\CityListInterface" type="Perspective\NewGeoLocation\Model\CityListProvider" />
</config>
