<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="shipping_conditions" translate="label" sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Shipping Conditions</label>
            <tab>sales</tab>
            <resource>Vendor_ShippingConditions::config</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="low_temperature" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Low temperature fee (%)</label>
                </field>
                <field id="ground_transport" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Ground transport fee (%)</label>
                </field>
                <field id="important_documents" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Important documents fee (%)</label>
                </field>
                <field id="fragile" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Fragile fee (%)</label>
                </field>
            </group>
        </section>
    </system>
</config>
