<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Perspective_SystemConfigExample::perspective" title="Perspective" module="Perspective_SystemConfigExample" sortOrder="51" resource="Perspective_SystemConfigExample::perspective"/>
        <add id="Perspective_SystemConfigExample::perspective_configuration" title="Configuration" module="Perspective_SystemConfigExample" sortOrder="99" parent="Perspective_SystemConfigExample::perspective" action="adminhtml/system_config/edit/section/perspective" resource="Perspective_SystemConfigExample::perspective"/>
    </menu>
</config>
